.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  display: flex;
}

.sidenav-container {
  display: flex;
  flex: 1;
}
