
.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.app-container {
    // display: flex; // remove this causing content to not render correctly
    height: 100vh;
}

.app-sidenav-content {
    flex: 1;
    padding: 20px;
    /* Adjust padding to create space between content and sidebar */
    // overflow-y: auto;
    overflow: auto; 
}

.logout-item {
  cursor: pointer;
}

.logout-item:hover .mat-icon {
  filter: brightness(0.8); /* Optional: Change brightness on hover for visual feedback */
}