<div class="container">
    <div class="left-section">
    </div>
    <div class="right-section">
        <div class="register-container">
            <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2 class="register-title"><img src="../../../../assets/images/logos/Equity_Bank_Logo.png" alt="Logo"
                        class="logo">
                    Register</h2>
                <div class="form-control">
                    <i class="fas fa-user icon"></i>
                    <input formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                        type="text" placeholder="First Name" id="firstname" required>
                </div>
                <div class="form-control">
                    <i class="fas fa-user icon"></i>
                    <input formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                        type="text" placeholder="Last Name" id="lastname" required>
                </div>
                <div class="form-control">
                    <i class="fas fa-user icon"></i>
                    <input formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                        type="text" placeholder="User Name" id="username" required>
                </div>
                <div class="form-control">
                    <i class="fas fa-lock icon"></i>
                    <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password"
                        formControlName="password" placeholder="Password" id="password">
                    <mat-error *ngIf="submitted && f.password.errors">Password is required</mat-error>
                </div>

                <button type="submit" [disabled]="loading">Register
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
                <p class="login-link">Already have an account? <a [routerLink]="['/auth/login']">Login here</a></p>
            </form>
        </div>
    </div>
</div>