<mat-toolbar color="primary">
  <span>API Keys</span>
</mat-toolbar>


<mat-card class="api-keys-card mat-elevation-z2">
  <mat-card-content>
    <p>Your secret API keys are listed below. Please note that we do not display your secret API keys again after you
      generate them.</p>
    <p>Do not share your API key with others, or expose it in the browser or other client-side code. In order to
      protect the security of your account, APIGateway may also automatically disable any API key that we've found has
      leaked publicly.</p>
    <p>Enable tracking to see usage per API key on the <a href="#">Usage page.</a></p>
  </mat-card-content>
</mat-card>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let apiKey">{{ apiKey.name }}</td>
    </ng-container>

    <ng-container matColumnDef="secretKey">
      <th mat-header-cell *matHeaderCellDef>Secret Key</th>
      <td mat-cell *matCellDef="let apiKey">{{ apiKey.secretKey }}</td>
    </ng-container>

    <ng-container matColumnDef="tracking">
      <th mat-header-cell *matHeaderCellDef>Tracking</th>
      <td mat-cell *matCellDef="let apiKey">{{ apiKey.tracking ? 'Enabled' : 'Disabled' }}</td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let apiKey">{{ apiKey.created | date }}</td>
    </ng-container>

    <ng-container matColumnDef="lastUsed">
      <th mat-header-cell *matHeaderCellDef>Last Used</th>
      <td mat-cell *matCellDef="let apiKey">{{ apiKey.lastUsed }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Revoke Key</th>
      <td mat-cell *matCellDef="let apiKey">
        <button matTooltip="Revoke API Key" mat-icon-button (click)="deleteApiKey(apiKey)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
