<app-navbar *ngIf="shouldShowNavbar()"></app-navbar>
<!-- TODO: UI fix for alert  -->
<app-alert></app-alert>
<ng-container *ngIf="shouldShowSidebar(); else noSidebar">
    <!-- If the sidebar should be shown -->
<mat-sidenav-container class="app-container" autosize>
    <app-sidebar></app-sidebar>
	<div class="app-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>


</ng-container>

<ng-template #noSidebar>
    <!-- If the sidebar shouldn't be shown -->
    <router-outlet></router-outlet>
</ng-template>