<div class="api-key-modal-container">

  <h2 mat-dialog-title>{{ data.name }}</h2>

  <div mat-dialog-content>
    <p class="api-key-label">Copy the generated API Key</p>
    <div class="api-key-input-container">
      <input type="text" class="api-key-input" [value]="data.apiKey" readonly>
      <button mat-icon-button (click)="copyToClipboard(data.apiKey)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="viewApiKeysAndCloseModal()">
      <mat-icon>visibility</mat-icon> View API Keys
    </button>
    <button mat-button (click)="closeModal()" color="accent">Close</button>
  </div>

</div>
