@import '../../../../../theming/theme.scss';
@import '../../../../../theming//mixins.scss';

$primary-color: map-get($theme-primary, 500);

.full-width {
  width: 100%;
}


.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.app-container {
  display: flow-root;
  height: 100vh;
}


.app-sidenav-content {
  flex: 1;
  padding: 20px;
  // overflow-y: auto;
  // overflow: auto;
}

.logout-item {
  cursor: pointer;
}

.logout-item:hover .mat-icon {
  filter: brightness(0.8);
  /* Optional: Change brightness on hover for visual feedback */
}


.app-sidenav {
  display: flex;
  flex-direction: column;
}


.sidebar-card-title {
  font-size: 16px;
  color: black;
}

.sidebar-subtitle {
  font-size: 13px;
}



/**Media Queries */

@include respond-to-mobile {
  .app-sidenav {
    width: 15%;
  }
}

@include respond-to-tablet {
  // width: 75%; /* Styles for screens between 768px and 991px width */
}

@include respond-to-desktop {
  // width: 100%; /* Styles for screens 992px width and above */
}