@import 'src/theming/theme';

$primary-color: map-get($theme-primary, 500);

.full-width {
  width: 100%;
}


.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.app-container {
  display: flow-root;
  height: 100vh;
}


.app-sidenav-content {
  flex: 1;
  padding: 20px;
  /* Adjust padding to create space between content and sidebar */
  // overflow-y: auto;
  overflow: auto;
}

.logout-item {
  cursor: pointer;
}

.logout-item:hover .mat-icon {
  filter: brightness(0.8);
  /* Optional: Change brightness on hover for visual feedback */
}


.app-sidenav {
  display: flex;
  flex-direction: column;
}


/* Media query for responsiveness */
@media (max-width: 412px) {
  .app-sidenav {
    width: 15%;
    /* Set a different width for the sidenav in mobile mode */
  }
}

/* Media query for responsiveness */
@media (min-width: 500px) {
  .app-sidenav {
    width: 15%;
    /* Set a different width for the sidenav in mobile mode */
  }
}


.flex-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.additional-details-card {
  flex: 1;
  margin-left: 1px;
  margin-right: 10px;
  margin-top: 90px;
  overflow-y: auto;

}


.quick-links ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}

.quick-links a,
.popular-tags a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quick-links a:hover,
.popular-tags a:hover {
  color: #e74c3c;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.tag-link {
  color: map-get($theme-accent, A100);
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid map-get($theme-accent, A100);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.tag-link:hover {
  background-color: map-get($theme-accent, A100);
  color: #fff;
}


.tag-link.active {
  background-color: map-get($theme-accent, A100);
  color: #fff;
}

.sidebar-card-title {
  font-size: 16px;
  color: black;
}

.sidebar-subtitle {
  font-size: 13px;
}