@import url('https://fonts.googleapis.com/css?family=Nunito:400,200');
@import 'src/theme';

$primary-color:  map-get($theme-primary, 500); //#6164d8;
$secondary-color: map-get($theme-accent, A400); //#666be4;
$tertiary-color: map-get($theme-accent, A100);
$text-color: white;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-weight: lighter;
  color: $text-color;
  font-size: 3rem;
}

p {
  font-weight: lighter;
}

button {
  border-radius: 25px;
  color: $text-color;
  letter-spacing: 1px;
  font-weight:bold;
  box-shadow: $shadow;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.hero {
  position: relative;
  height: 100%;
  min-height: 100vh;
  color: $text-color;
  box-sizing: border-box;
}

.background {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.background-left {
  @extend .background;
   z-index: -1;
  background: red;
  background: $primary-color;
}

.background-right {   
  z-index: -1;
  @extend .background;
  background: $secondary-color;
  clip-path: polygon(0 0, 0% 100%, 90% 100%);
}

.hero-content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  position: relative;
  p {
    margin: 3rem 0;
    max-width: auto;
  }
}

.hero-left {
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  min-width: 35%;
  max-width: 400px;
}

.hero-right {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  text-align: center;
}

.hero-image {
  position: relative;
  z-index: 88;
  width: auto;
  height: 100%;
  max-height: 480px;
}


// Animations
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}