<section class='hero'>
  <div class='background-left'></div>
  <div class='background-right'></div>
  
  <div class='hero-content'> 
    <div class='hero-left'>
      <h1>
        Discover a variety of APIs in our
        <b>Developer Portal</b>
      </h1>
      <p>
        Our API Hub provides developers with seamless access to a variety of banking and financial services, empowering you to create innovative solutions that redefine the future of finance.
      </p>
      <button mat-fab extended aria-label="Discover Equity APIs">Discover Equity APIs</button>
      
    </div>  
    <div class='hero-right'>
      <img class='hero-image' src='assets/images/illustrations/undraw_mobile_pay_re_sjb8_black.svg' />
    </div>
  </div>
</section>
